---
layout: default
permalink: /doc
---
<!-- Main Container -->
<div id="banners"></div>
<div class="container">
  {% for post in site.posts %}
    {% if post.android %}
    {% if post.categories[0]=="top" %}
      {% if post.link %}
        <a href="{{ post.link }}" title="{{ post.title }}">
      {% else %}
        <a href="{{ post.url }}" title="{{ post.title }}">
      {% endif %}
      <div class="doc-list">
        <span class="entry-date date published">
          <font color="#aaaaaa"> 置顶消息 </font>
        </span>
        <br>

        <font class="kymjs-post-tag-top">置顶：</font>
        <font class="kymjs-index-title">{{ post.title }}</font>
        <br>

        <font color="#666666"> 
          {% if post.description.size > 220 %}
            {{ post.description | rstrip }}
          {% else %}
            {{ post.content | strip_html | truncate: 220 }}
          {% endif %} 
        </font>
      </div>
      </a>
      <hr>
    {% endif %}  
    {% endif %}  
  {% endfor %}


  {% for post in site.posts %}
    {% if post.categories[0]!="top" %}
    {% if post.android %}
      {% if post.link %}
        <a href="{{ post.link }}" title="{{ post.title }}">
      {% else %}
        <a href="{{ post.url }}" title="{{ post.title }}">
      {% endif %}
      <div class="doc-list">
        <span class="entry-date date published">
        {% if post.categories[0]=="history" %}
          <font class="kymjs-post-tag-session">{{ post.tags[0] }}</font>
        {% elsif post.categories[0]=="session" %}
        <font class="kymjs-post-tag-session">Session</font>
        {% elsif post.categories[0]=="docs" %}
          <font class="kymjs-post-tag-code">文档</font>
        {% elsif post.categories[0]=="news" %}
          <font class="kymjs-post-tag-news">资讯</font>
        {% elsif post.categories[0]=="note" %}
          <font class="kymjs-post-tag-note">笔记</font>
        {% elsif post.categories[0]=="pay" %}
          <font class="kymjs-post-tag-payforreading">付费</font>
        {% elsif post.categories[0]=="tools" %}
          <font class="kymjs-post-tag-stickies">工具</font>
        {% elsif post.categories[0]=="manager" %}
          <font class="kymjs-post-tag-manager">Leader</font>
        {% endif %}
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {% if post.author %}
            <font color="#aaaaaa"> {{ post.author }} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
          {% else %}
            <font color="#aaaaaa">{% if page.author %} {{ page.author }} {% else %} TheRouter官方 {% endif %} 创作于 {{ post.date | date: "%Y-%m-%d" }} </font>
          {% endif %}
        </time>
        </span>
        <br>

        <font class="kymjs-index-title">{{ post.title }}</font>
        <br>

        <font color="#666666"> 
          {% if post.description.size > 120 %}
            {{ post.description | rstrip }}
          {% else %}
            {{ post.content | strip_html | truncate: 220 }}
          {% endif %} 
        </font>
      </div>
      </a>
      <hr>
    {% endif %} 
    {% endif %}  
  {% endfor %}

</div>
<!--End Main Container -->